nextflow.enable.dsl = 2

manifest {
    name        = 'germline-nextflow'
    description = 'Custom germline SNP mini-pipeline using nf-core modules + VerifyBamID2 + Qualimap2 + custom dup metrics'
    author      = 'Viktorija Dauksaitė'
    mainScript  = 'main.nf'
    version     = '0.7.0'
}

params {
    // ------------------
    // Paths & references
    // ------------------

    // Where final outputs should go
    outdir  = "${baseDir}/results"

    // Where reference + indices will live (DOWNLOAD_REFERENCE, BWA_INDEX, etc)
    ref_dir = "${baseDir}/results/ref/hg38"

    // Reference FASTA (Broad hg38)
    ref_name = 'Homo_sapiens_assembly38'
    ref_url  = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta'

    // Simple label for the reference
    ref_id   = 'Homo_sapiens_assembly38'

    // Samplesheet:
    // patient,sample,lane,fastq_1,fastq_2
    input    = "${baseDir}/samplesheet.csv"


    // ------------------
    // VerifyBamID2
    // ------------------
    verifybamid2_ud  = "${baseDir}/resources/verifybamid2/1000g.phase3.100k.b38.vcf.gz.dat.UD"
    verifybamid2_mu  = "${baseDir}/resources/verifybamid2/1000g.phase3.100k.b38.vcf.gz.dat.mu"
    verifybamid2_bed = "${baseDir}/resources/verifybamid2/1000g.phase3.100k.b38.vcf.gz.dat.bed"

    // Dummy placeholder file used only to satisfy "path refvcf" input
    verifybamid2_dummy_refvcf = "${baseDir}/resources/verifybamid2/dummy.txt"


    // ------------------
    // QC BEDs for Qualimap + DepthOfCoverage
    // ------------------

    // If null: pipeline auto-creates whole-genome BED from FASTA .fai for Qualimap
    // If set on CLI: --qualimap_bed /path/to/targets.bed
    qualimap_bed = null

    // Default BED for DepthOfCoverage (can override via --gatk_target_bed)
    gatk_target_bed = "${baseDir}/resources/gencode_v49_protein_coding_exons.bed"

    // Default gene list for DepthOfCoverage (override via --gatk_gene_list)
    gatk_gene_list  = "${baseDir}/resources/refGene.hg38.refseq"

    // ---------- DeepVariant ----------
    // Default intervals for DeepVariant (can re-use WES targets)
    target_regions_bed = "${baseDir}/resources/gencode_v49_protein_coding_exons.bed"
    // Optional PAR regions BED (can be empty)
    par_regions_bed       = "${baseDir}/resources/par_regions.bed"
        // Dummy .gzi file for DeepVariant (to satisfy module input)
    deepvariant_gzi_dummy = "${baseDir}/resources/dummy_fasta.gzi"



}

process {

    // ------------------
    // Reference prep
    // ------------------

    withName: 'DOWNLOAD_REFERENCE' {
        cpus   = 1
        memory = '1.GB'
        publishDir = [ path: "${params.ref_dir}", mode: 'copy' ]
    }

    withName: 'BWA_INDEX' {
        cpus   = 8
        memory = '16.GB'
        publishDir = [ path: "${params.ref_dir}", mode: 'copy' ]
    }

    withName: 'PICARD_CREATESEQUENCEDICTIONARY' {
        cpus   = 16
        memory = '12.GB'
        publishDir = [ path: "${params.ref_dir}", mode: 'copy' ]
    }

    withName: 'SAMTOOLS_FAIDX_SIMPLE' {
        cpus   = 2
        memory = '2.GB'
        publishDir = [ path: "${params.ref_dir}", mode: 'copy' ]
    }

    withName: 'MAKE_GENOME_BED' {
        cpus   = 1
        memory = '1.GB'
        publishDir = [ path: "${params.ref_dir}", mode: 'copy' ]
    }


    // ------------------
    // Alignment + RG + dups
    // ------------------

    withName: 'BWA_MEM' {
        cpus   = 16
        memory = '16.GB'
        ext.args  = '-K 100000000 -Y'
        ext.args2 = ''
        publishDir = [ path: "${params.outdir}/alignment", mode: 'copy' ]
    }

    withName: 'ADD_READGROUPS' {
        cpus   = 4
        memory = '4.GB'
        container = 'community.wave.seqera.io/library/picard:3.4.0--e9963040df0a9bf6'
        publishDir = [ path: "${params.outdir}/bam_with_rg", mode: 'copy' ]
    }

    withName: 'BIOBAMBAM_BAMMARKDUPLICATES2' {
        cpus   = 8
        memory = '8.GB'
        publishDir = [ path: "${params.outdir}/bam", mode: 'copy' ]
    }

    withName: 'SAMTOOLS_INDEX' {
        cpus   = 4
        memory = '4.GB'
        publishDir = [ path: "${params.outdir}/bam", mode: 'copy' ]
    }

    withName: 'PICARDLIKE_DUPMETRICS' {
        cpus   = 1
        memory = '1.GB'
        publishDir = [ path: "${params.outdir}/dup_metrics_picard_like", mode: 'copy' ]
    }


    // ------------------
    // Alignment QC
    // ------------------

    withName: 'FASTQC' {
        cpus   = 4
        memory = '4.GB'
        ext.args = '--nogroup -k 7 -f bam --extract'
        publishDir = [ path: "${params.outdir}/qc/fastqc", mode: 'copy' ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        cpus   = 4
        memory = '2.GB'
        publishDir = [ path: "${params.outdir}/qc/idxstats", mode: 'copy' ]
    }

    withName: 'QUALIMAP_BAMQC' {
        cpus   = 4
        memory = '8.GB'
        publishDir = [ path: "${params.outdir}/qc/qualimap", mode: 'copy' ]
    }


    // ------------------
    // VerifyBamID2 QC
    // ------------------

    withName: 'VERIFYBAMID_VERIFYBAMID2' {
        cpus   = 4
        memory = '8.GB'
        ext.args = '--WithinAncestry --no-orphans --max-depth 1000'
        errorStrategy = 'ignore'
        maxRetries    = 1
        publishDir = [ path: "${params.outdir}/qc/verifybamid2", mode: 'copy' ]
    }

    // ------------------
    // DepthOfCoverage
    // ------------------

    withName: 'GATK_DEPTHOFCOVERAGE' {
        cpus   = 4
        memory = '8.GB'
        publishDir = [
            path  : "${params.outdir}/qc/depthofcoverage",
            mode  : 'copy',
            saveAs: { filename ->
                // task.tag == "${meta.id}" because of `tag "${meta.id}"` in the process
                "${task.tag}/${filename}"
            }
        ]
    }

    withName: 'DEEPVARIANT_RUNDEEPVARIANT' {
        // How many shards you want. DeepVariant uses --num_shards=${task.cpus}
        cpus   = 16        // or 32/64 on HPC
        memory = '16.GB'   // adjust for your machine

        // Your requested options
        ext.args = '--model_type=WES --postprocess_variants_extra_args=only_keep_pass=true'

        publishDir = [
            path: "${params.outdir}/deepvariant",
            mode: 'copy'
        ]
    }


}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = false
    }

    docker {
        process.executor  = 'local'
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        docker.registry   = 'quay.io'
    }
}
